.ajeitar{
    display: flex;
    justify-content: space-around;
    margin: 0px 390px;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin: 120px 0px;
}
.label{
    display: flex;
    justify-content: flex-end;
    margin-right: 475px;
    gap: 2em;
}
input{
    gap: 2em;
    outline: none;
}