.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 40px;
    padding: 7px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
    width: 300px;
}
.card:hover{
box-shadow: 0px 0px 10px;
}
.foto{
    height: 250px;
    width: 100%;
    border-radius: 20px;
}
.descricao{
    height: 120px;
    display: flex;
    justify-content: center;
}
.titulo{
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.btn{

    padding: 10px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover{
    background-color: #0056b3; 
    color: white;
}